{% extends 'main/base.html' %}

{% block content %}

{% include 'main/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title center-align" >Contact Info</span>
              <p></p>
            </div>
            <ul class="collection" >
                <li class="collection-item" ><i class="material-icons">phone</i> +918650640960</li>
                <li class="collection-item"><i class="material-icons">email</i> girishchhonkar19@gmail.com</li>
                <li class="collection-item"><i class="material-icons">home</i> Mathura, Uttar Pradesh, India</li>
                <li class="collection-item"><i class="material-icons">school</i> MNIT jaipur</li>
              </ul>
          </div>
        </div>
      </div>
    
    </div>
</div>

{% endblock %}