<nav>
    <div class="nav-wrapper">
      <a href="{% url 'index' %}" class="brand-logo active">Portfolio Website</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a class="waves-effect waves-yellow btn-large"  href="{% url 'projects' %}">Projects</a></li>
        <li class="active"><a class="waves-effect waves-yellow btn-large"  href="{% url 'languages' %}">Languages</a></li>
        <li class="active"><a class="waves-effect waves-yellow btn-large"  href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>
  </nav>